<style>
</style>
<div id="number"></div>
<div id="message"></div>
<div id="mesh">
<ul class="calc">
  <li class="key">7</li>
  <li class="key">8</li>
  <li class="key right">9</li>
  <li class="key">4</li>
  <li class="key">5</li>
  <li class="key right">6</li>
  <li class="key">1</li>
  <li class="key">2</li>
  <li class="key right">3</li>
  <li class="key">0</li>
  <li class="key">clear</li>
</ul>
</div>
